@using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
{
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="form-control" />
    <button type="submit" class="btn btn-success mt-2">Submit</button>
}
