<!--Menu Options-->



	<link rel="stylesheet" href="~/css/MenuBarStyle.css">
	
	<divMenu>
		<ul class="nav-links">
			<li><a href="@Url.Action("Index","MenuBar")">Home</a></li>
			<li class="center"><a href="@Url.Action("LecturerPage","MenuBar")"> Lecturer </a></li>
			<li class="upward"><a href="@Url.Action("ProgramCoordinatorPage","MenuBar")">Programme Coordinator</a></li>
			<li class="forward"><a href="@Url.Action("AcademicManagerPage","MenuBar")">Academic Manager</a></li>
		</ul>
	</divMenu>


