@{
    ViewData["Title"] = "ClaimPopup";
}

<!--include menu script layout in shared folder _menbu.cshtml-->


<body>

    <link rel="stylesheet" href="~/css/index.css" />
    <div class="container">
        <!-- Title section -->
        <div class="title">Claim Form</div>
        <div class="content">
            <!-- Registration form -->
            <form action="#">
                <div class="user-details">
                    <!-- Input for Full Name -->
                    <div class="input-box">
                        <span class="details">Hours Worked</span>
                        <input type="text" placeholder="Enter Amount">
                    </div>
                    <!-- Input for Username -->
                    <div class="input-box">
                        <span class="details">Rate </span>
                        <input type="text" placeholder="Calculated Amount">
                    </div>
                    <!-- Input for Email -->
                    <div class="input-box">
                        <span class="details">Date Start</span>
                        <input type="date" />
                        
                    </div>
                    <!-- Input for Phone Number -->
                    <div class="input-box">
                        <span class="details">Date End</span>
                        <input type="date" />
                        
                    </div>
                    <!-- Input for Password -->
                    <div class="input-box">
                        <span class="details">25% Tax Payable</span>
                        <input type="text" placeholder="R15 000">
                    </div>
                    
                </div>
               
                <!-- Submit button -->
                <div class="button">
                    <input id="submitBtn" type="button" value="SubmitClaim" />
                    <script>
                        document.getElementById("submitBtn").addEventListener("click", myFunction);
                        function myFunction() {
                          window.location.href="@Url.Action("LecturerPage", "MenuBar")";
                        }
                    </script>
                </div>
               
            </form>
        </div>
    </div>
</body>

