@{
    ViewData["Title"] = "LecturerPage";
}

<!--include menu script layout in shared folder _menbu.cshtml-->
@Html.Partial("_MenuBar")



<div 
    id="Claim"
    style="justify-content: center;
align-content: center;
 display: flex;
background : white;">

    

    <ul class="nav-links" style="background : lawngreen" >
        <li><a href="@Url.Action("Index","MenuBar")">Create Claim</a></li>
    </ul>

    



</div>