@{
    ViewData["Title"] = "Home Page";
}


<body>


    <link rel="stylesheet" href="~/css/index.css" />
    <div class="container">
        <!-- Title section -->
        <div class="title">Login</div>
        <div class="content">
            <!-- Login form -->
            <form>
                <div class="user-details">
                    <!-- Input for Username -->
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" placeholder="Enter your username">
                    </div>
                    <!-- Input for Password -->
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="text" placeholder="Enter your password">
                    </div>

                </div>
                <div class="Role-details">
                    <!-- Radio buttons for gender selection -->
                    <input type="radio" name="Role" id="dot-1" value="Lecturer">
                    <input type="radio" name="Role" id="dot-2" value="ProgramCoordinator">
                    <input type="radio" name="Role" id="dot-3" value="Academic Manager">
                    <span class="Role-title">Role</span>
                    <div class="category">
                        <!-- Label for Male -->
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="Role">Lecturer</span>
                        </label>
                        <!-- Label for Female -->
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="Role">ProgramCoordinator</span>
                        </label>
                        <!-- Label for Prefer not to say -->
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="Role">Academic Manager</span>
                        </label>
                    </div>
                </div>
                <!-- Submit button -->
                <div class="button">

                    <input id="submitBtn" type="button" value="Login" />
                    
                    <script>
                        document.getElementById("submitBtn").addEventListener("click", myFunction);
                        function myFunction() {
                        
                          window.location.href="@Url.Action("LecturerPage", "MenuBar", new { role = "lecturer" })";
                        }
                    </script>

                </div>
                <a href="@Url.Action("RegistrationPage","Home")">New User? Click here to SignUp</a>
            </form>
        </div>
    </div>
</body>
