
<body>

    <link rel="stylesheet" href="~/css/index.css" />
    <div class="container">
        <!-- Title section -->
        <div class="title">Registration</div>
        <div class="content">
            <!-- Registration form -->
            <form action="#">
                <div class="user-details">
                    <!-- Input for Full Name -->
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your name">
                    </div>
                    <!-- Input for Username -->
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" placeholder="Enter your username">
                    </div>
                    <!-- Input for Email -->
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <!-- Input for Phone Number -->
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter your number">
                    </div>
                    <!-- Input for Password -->
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="text" placeholder="Enter your password">
                    </div>
                    <!-- Input for Confirm Password -->
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="text" placeholder="Confirm your password">
                    </div>
                </div>
                <div class="Role-details">
                    <!-- Radio buttons for gender selection -->
                    <input type="radio" name="Role" id="dot-1">
                    <input type="radio" name="Role" id="dot-2">
                    <input type="radio" name="Role" id="dot-3">
                    <span class="Role-title">Role</span>
                    <div class="category">
                        <!-- Label for Male -->
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="Role">Lecturer</span>
                        </label>
                        <!-- Label for Female -->
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="Role">ProgramCoordinator</span>
                        </label>
                        <!-- Label for Prefer not to say -->
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="Role">Academic Manager</span>
                        </label>
                    </div>
                </div>
                <!-- Submit button -->
                <div class="button">
                    <input id="submitBtn" type="button" value="Register" />
                    <script>
                        document.getElementById("submitBtn").addEventListener("click", myFunction);
                        function myFunction() {
                          window.location.href="@Url.Action("Login", "Home")";
                        }
                    </script>
                </div>
                <a href="@Url.Action("Login","Home")">Already a User? Click here to Login</a>
            </form>
        </div>
    </div>
</body>

